html {
  font-family:sans-serif;
  font-size:16px;
}

.img-fluid{
  border-radius: .5rem .5rem 0 0;
  max-width:100%;
}


.title {
  border-radius:1rem; /* rem es una medida relativa que corresponde al tamaño del elemento raíz del temaño de la fuente del documento */
  width:45vw; /* vw = viewport width 1vw = 1/100 del ancho de la pantalla */
  /* Elementos del box model  */
  border: 1px solid black;
  margin:1rem;
  padding:1rem;
}

.card{
  width:28vw;
  height:50vw;
  background:gray;
  border:1px solid #efefef;
  float:left;
  /* display:block; */
  /* display:inline-block; */
  margin:.2rem;
  padding:1rem;
  border-radius:.5rem;
}

.card-title{
  color:#fff;
}

.card-body{
  color:#fff;
}

#lucario{
  background:#5C96E1;
  border:.5rem solid #EDD05A;
}
