body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.static-position {
  position: static;
  display: inline-block;
  border: 3px solid red;
}

.relative-position {
  position: relative;
  top: 100px;
  left: 50px;
  display: inline-block;
  border: 3px solid blue;
}

.fixed-position {
  position: fixed;
  top: 600px;
  display: inline-block;
  border: 3px solid purple;
}

.relative {
  position: relative;
  top: 400px;
  left: 100px;
  display: inline-block;
  border: 5px solid black;
  width: 800px;
  height: 300px;
}

.position-absolute {
  position: absolute;
  bottom: 0;
  background: lightblue;
  border: 1px solid red;
  display: inline-block;
}

.sticky-position {
  position: sticky;
  top: 0;
  display: inline-block;
  border: 3px solid green;
}

/* Agregamos este último estilo sólo para agrandar la pantalla y que nos permita scrollearla
Esto con fines demostrativos de la propiedad sticky */
p {
  padding-bottom: 3000px;
}
