/* IMPORTAMOS FUENTES DE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@500&display=swap');

/* ESTILOS A ETIQUETAS */
body {
  background: brown;
  padding: 20px;
}

h1 {
  color: white;
  font-family: 'Merienda One', cursive;
  font-size: 60px;
}

h2 {
  color: orange;
  font-family: 'Merienda One', cursive;
  font-size: 35px;
}

h2::before {
  font-size: 40px;
}

p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

p::before {
  content: " ♥ ";
  color: yellow;
}

li {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

a:link {
  color: yellow;
}

/* ESTILOS A CLASES */
.animar:hover {
  transform: rotateX(360deg);
  transition: 1s;
}

.texto-centrado {
  text-align: center;
}

.sombra {
  text-shadow: 5px 5px 5px black;
}

/* ESTILOS A IDS */
#foto:hover {
  transform: translateX(300px) scale(4);
  border-radius: 50%;
  transition: 1s;
}

#foto:not(:hover) {
  border-radius: 10%;
  box-shadow: 5px 5px 5px;
  transition: 1s;
}
